// import landing
.nav-item {
    padding: 5px 25px 0 0;
    font-size: large;
    font-weight: 800;
  }
//

h1, h2 {
    font-family: 'Paytone One', sans-serif;
}
h1{
    font-size: 60px;
}
h2 {
    font-size: 25px;
}
h2.row {
    margin-left: 0;
}
q {
    font-family: 'Parisienne', cursive;
    font-size: 3em;
    font-style: italic;
}
address, p, label {
    font-size: 14px;
}
.google {
    display: block;
    justify-content: center;
}
iframe {
    box-shadow: 0 5px 10px lightgray;
    width: 100%;
    height: 400px;
}
iframe {
    border:0;
}
.row {
    padding: 0;
}
.container{
    margin: auto;
    padding-top: 1.5em;
}
label {
    margin-right: 10px;
}
textarea{
    width: 100%;
}
// .btn {
//     border-radius: 2em;
//     box-sizing: border-box;
//     text-decoration: bolder;
//     font-weight: 500;
//     font-size: small;
//     color: red;
//     padding: 20px 40px;
//   }
#copyright {
    margin-top: 20px;
}

.logo-footer {
    height: 10px;
    width: auto;
}