
h1, h2 {
    font-family: 'Paytone One', sans-serif;
}
q {
    font-size: x-large;
    font-style: italic;
}
.google {
    display: block;
    justify-content: center;
}
#googleMap {
    box-shadow: 0 5px 10px lightgray;
    width: 100%;
    height: 400px;
}
iframe {
    border:0;
}
.row {
    padding: 0;
}
.contact-info {
    padding: 0;
}
.logo-footer {
    height: 10px;
    width: auto;

}