
h1, h2 {
    font-family: 'Paytone One', sans-serif;
}
.google {
    display: block;
    justify-content: center;
}
#googleMap {
    box-shadow: 0 5px 10px lightgray;
    width: 80vw;
    height: 400px;
}
iframe {
    border:0;
}
.row {
    margin: 0;
}
.logo-footer {
    height: 10px;
    width: auto;

}