
h1, h2 {
    font-family: 'Paytone One', sans-serif;
}
.google {
    display: inline-block;
    justify-content: center;
}
#googleMap {
    box-shadow: 0 5px 10px lightgray;
    width: 80vw;
    height: 400px;
}

.row {
    margin: 0;
}