body {
    background: #fff;
    font-family: Poppins;
}

#app {
    padding-left: 50px;
    padding-top: 10px;
}

#app > section {
    padding-top: 20px;
    padding-bottom: 0;
}

#side_bar {
    height: 100%;
    width: 50px;
    background-color: rgba(220, 230, 252, 0.6);
    color: #261d56;
    position : fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 0 0;
}

#side_bar .menu_icon {
    padding-top: 10px;
    height: 10%;
}

#side_bar .menu {
    height : 80%;
}

.menu {
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-1150%);
    margin-left: 18.5px;
}

.menu ul {
    position: relative;
    padding: 0;
    bottom: 0;
    width: 500px;
}

.menu ul li {
    position: relative;
    font-size: 10px;
    list-style: none;
    float: left;
    margin: 0 15px;
    color: rgba(38, 29, 86, 0.5);
}

#header {
    font-size: 18px;
    font-weight: 600;
    color: rgba(38,29,86,1);
}

#header span {
    font-weight: 400;
    color: rgba(38,29,86,0.8);
}

#search {
    position: relative;
    margin-top: 25px;
}

.search .ip_search {
    border: none;
    background-color: #f9f9f9;
    width: 100%;
    font-size: 12px;
    padding: 15px 15px;
    padding-left: 45px;
    border-radius: 50px;
}

.search .fa_search {
    position: absolute;
    font-size: 14px;
    margin-top: 18px;
    margin-left: 18px;
}

.food {
    width: 80%;
    display: flex-row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.food > .col-9 {
    max-width: 245px;
}



#product {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

#product span {
    display: block;
}

.food div.food_tile {
    font-size: 11px;
    background: rgba(0,0,0,0.05);
    padding: 0,25px;
    border-radius: 25px;
    margin-bottom: 80px;
}

.food div.food_tile img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 20px;
    background-color: rba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: -60px;
    margin-bottom: 18px
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: rgba(38,29, 86,1);
    margin-bottom: 12px;
}

.detail {
    font-size: 10px;
    color: rgba(38,29,86,0.4);
    margin-bottom: 15px;
}

#data {
    margin : 0;
    padding: 0;
}

#data li {
    list-style: none;
    float: left;
    width: 50%;
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(38,29,86,1);
}

#data li span {
    color: rgba(38,29,86,0.5);
}

.btn-danger {
    border : 1px solid rgba(0,0,0,0.5);
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    background: transparent;
    color: rgba(0,0,0,0.8);
}