#backgroundImage {
  position: absolute;
  background-image: url("../images/couch.jpeg");
  background-repeat: no-repeat;
  background-position: center fixed;
  background-size: cover;
}

header,
body,
footer {
  font-family: sans-serif;
}

#backgroundImage {
  height: 100%;
  width: 100%;
}

.nav-item {
  padding: 5px 25px 0 0;
  font-size: large;
  font-weight: 800;
}

.jumbotron {
  height: 300px;
  width: 800px;
  /*
  background: rgba(204, 204, 204, 0.5);
  */
  background: none;
}

.btn {
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: bolder;
  font-weight: 500;
  font-size: large;
  color: #ffffff;
  padding: 20px 40px 20px 40px;
}

.h1 {
  line-height: 1.5;
}

footer {
  position: fixed;
  height: 80px;
  width: 93%;
  margin: 0 0 50px 50px;
}

.logos {
  filter: invert(100%);
  margin: 0 10px 10px 0;
}

#cart {
  filter: invert(100%);
}

@media only screen and (max-width: 1800px) {
}
